adf/pipeline/1a_root_evenly_distributed_data.json
{
	"name": "1a_root_evenly_distributed_data",
	"properties": {
		"activities": [
			{
				"name": "Get containers",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sourcestor",
						"type": "DatasetReference",
						"parameters": {
							"container": "@coalesce(null)",
							"folder": "@coalesce(null)"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Copy containers",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get containers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Containers').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy container",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "1b_child_evenly_distributed_data",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"Container": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}