adf/pipeline/1b_child_evenly_distributed_data.json
{
	"name": "1b_child_evenly_distributed_data",
	"properties": {
		"activities": [
			{
				"name": "Get Folders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sourcestor",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"folder": "@coalesce(null)"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Copy Folders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Folders').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy folder recursively",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "sourcestor",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"folder": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sinkstor",
									"type": "DatasetReference",
									"parameters": {
										"container": "backup",
										"folder": {
											"value": "@concat(pipeline().parameters.Container, item().name)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string"
			}
		},
		"annotations": []
	}
}